<ion-view>
  <ion-nav-buttons side="left">
        <img src="img/marker.jpg" />
   </ion-nav-buttons>
 <ion-nav-title >
PZO Kontakti 
    </ion-nav-title>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-assertive">U slučaju nezgode u inostranstvu</div>
      <div class="item item-body">
        <div>
         <a class="item item-icon-left assertive" href="tel:{{contact.mob}}">
       <i class="icon ion-ios-telephone"></i>
       SOS Telefon  <span class="item-note assertive">
    <b>{{contact.mobDisplay}}</b>
    </span>
  </a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-assertive" >SMS</div>
      <div class="item item-body ">
          <a class="item item-icon-left assertive" href ng-click="sendSms1()">
     <i class="icon ion-android-textsms"></i>
    Pošalji SMS 
      <span class="item-note assertive">
      <b>{{contact.mobDisplay}}</b>
    </span>
  </a>
 
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-assertive">Email</div>
      <div class="item item-body">
        <a class="item item-icon-left assertive" href="mailto:{{contact.email}}" >
    <i class="icon ion-email"></i>
    Pošalji e-mail
  </a>
      </div>
    </div>
  </ion-content>
</ion-view>
