<ion-view view-title="Ugovorite novu policu">
  <ion-content>
    <ion-list>
  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" 
  ui-sref=".pzo">
        <h2>Nova PZO polica</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  

      <ion-item class="item-remove-animate item-avatar item-icon-right"
       type="item-text-wrap" ui-sref=".ao">
        <h2>Nova AO polica</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
