/* Empty. Add your own CSS if you like */
.angular-google-map-container { 
  height: 100%; 
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}


input {
   outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 1px #9ecaed;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.centerimage {
  text-align: center;
}